* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variaveis de cor */
:root {
  --cor-bg: rgba(20, 20, 20, 100);
  --cor-bg-header: rgba(20, 20, 20, 100);
  --cor-texto-header: rgba(255, 255, 255, 100);
  --cor-bg-switch: rgba(60, 60, 60, 100);
  --cor-texto: rgba(255, 255, 255, 100);
  --cor-destaque: rgba(56, 216, 187, 100);
  --cor-bg-conteudo: rgba(60, 60, 60, 100);
  --switch-img-url: url(./Assets/Dark.svg) >;
  --switch-dark: hidden;
  --switch-light: none;
}

.light {
  --cor-bg: rgba(255, 255, 255, 100);
  --cor-bg-header: rgba(20, 20, 20, 100);
  --cor-texto-header: rgba(255, 255, 255, 100);
  --cor-bg-switch: rgba(60, 60, 60, 100);
  --cor-texto: rgba(0, 0, 0, 100);
  --cor-destaque: rgba(227, 158, 23, 100);
  --cor-bg-conteudo: rgba(200, 200, 200, 5);
  --switch-img-url: url(<ion-iconname="moon-outline"color="red"></ion-icon>);
  --switch-dark: none;
  --switch-light: hidden;
}

/* estilos css */
body {
  background-color: var(--cor-bg);
  width: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  color: var(--cor-texto);
  width: 70%;
  margin: auto;
}

/* Header */
.Header {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: var(--cor-bg-header);
  border-bottom: 1px solid var(--cor-destaque);
  font-size: 24px;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.Header div {
  height: 80px;
  width: fit-content;
}
.Header #IconeLogo {
  display: flex;
  color: var(--cor-destaque);
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: var(--cor-bg-header);
  border-radius: 5px;
  border: 2px solid var(--cor-destaque);
  padding: 1px 3px;
  margin: auto 6px auto 0px;
}
.Header #TextoLogo {
  display: flex;
  color: var(--cor-texto-header);
  font-weight: 600px;
  margin: auto auto auto auto;
  font-size: 24px;
}
.Header #Logo {
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  margin: auto auto auto 54px;
  width: fit-content;
}

.Header nav {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}
.Header #Menu {
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  gap: 64px;
  list-style: none;
}
.Header #Menu a {
  color: var(--cor-texto-header);
  text-decoration: none;
}
.Header #Menu :hover {
  color: var(--cor-destaque);
  font-weight: 700;
}

/* Switch */
#Switch {
  position: relative;
  width: 52px;
  right: 0;
  margin: auto 54px auto 0;
}

#sol {
  display: var(--switch-light);
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  background-color: var(--cor-bg-header);
  color: var(--cor-destaque);
  outline: 2px solid var(--cor-destaque);
  position: absolute;
  z-index: 1;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
}

#lua {
  display: var(--switch-dark);
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  background-color: var(--cor-bg-header);
  color: var(--cor-destaque);
  outline: 2px solid var(--cor-destaque);
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}

#Switch span {
  display: inline-flex;
  width: 52px;
  height: 24px;
  background-color: var(--cor-bg-switch);
  border: 1px solid var(--cor-destaque);
  border-radius: 5px;
  margin: 27px 0px 27px 0px;
}

/* sobre */
#First {
  display: block;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 116px 0px 36px 0px;
}

#Sobre {
  display: flex;
}

#SobreImagem {
  display: block;
  text-align: center;
  margin: auto;
}
#SobreImagem img {
  display: block;
  width: 160px;
  margin: auto auto 15px auto;
}
#SobreImagem button {
  display: inline;
  text-decoration: none;
  background-color: var(--cor-bg);
  font-size: 12;
  font-weight: 400;
  border: 1px solid var(--cor-destaque);
  border-radius: 8px;
  margin: auto;
}
#SobreImagem button :hover  {
  font-weight: 600;
  border: 2px solid var(--cor-destaque);
}

#SobreImagem a {
  text-decoration: none;
  color: var(--cor-destaque);
  padding: 3px 11px;
}
#SobreTexto {
  display: flex;
  right: 0;
  margin: auto auto auto 32px;
}

#SobreTexto p {
  display: flex;
  background-color: var(--cor-bg-conteudo);
  border: 1px solid var(--cor-destaque);
  border-radius: 8px;
  width: fit-content;
  padding: 12px;
}

h1 {
  display: block;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 36px 0px 36px 0px;
}

.Tecnologias li {
  list-style: none;
  display: inline-flex;
  width: 126px;
  height: 126px;
  background-color: var(--cor-bg);
  border-radius: 8px;
  border: 1px solid var(--cor-texto);
  justify-content: center;
  align-items: center;
  fill: var(--cor-texto);
  margin: 2%;
}
.Tecnologias ul :hover  {
  border-color: var(--cor-destaque);
  fill: var(--cor-destaque)
}



